{% extends '::layout/layout.html.twig' %}

{% block title %} - {{ produit.nom }}{% endblock %}
{% block description %}{{ produit.description }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                {% include '::modulesUsed/navigation.html.twig' %}
                {{ render(controller('EcommerceBundle:Panier:menu')) }}
            </div>

            <div class="col-md-9">
                {% if not produit %}
                    <div class="alert alert-danger">Ce produit n'existe pas !</div>
                {% else %}
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{ produit.media.path }}" alt="{{ produit.media.alt }}" style="max-height:100%;max-width: 100%">
                        </div>

                        <div class="col-md-6">
                            <h4><strong>{{ produit.nom }}</strong></h4>
                            <h5>{{ produit.categorie.nom }}</h5>
                            <blockquote>{{ produit.description }}.</blockquote>
                            <h4>{{ produit.prixHT|tva(produit.tva.multiplicate) }} €</h4>

                            {% if panier is defined %}

                                <div class="alert alert-success">
                                    Ce produit est déjà dans votre <a href="{{ path('panier') }}">panier </a> !
                                </div>

                            {% else %}

                            <form action="{{ path('ajouterAuPanier',{ 'id': produit.id }) }}" method="get">

                                <select name="qte" id="qt" class="col-md-2">
                                    <option value="1" selected>1</option>
                                    {% for i in 2..10 %}
                                    <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                </select>
                                <br><br>
                                <div>
                                    <button type="submit" class="btn btn-p">Ajouter au panier</button>
                                </div>
                            </form>

                            {% endif %}

                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}