{% extends '::layout/layout.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                {% include '::modulesUsed/navigation.html.twig' %}
            </div>

            <div class="col-md-9">
                {% if not produit %}
                    <div class="alert alert-danger">Ce produit n'existe pas !</div>
                {% else %}

                    <div class="row">
                    <div class="span5">
                        <img src="{{ produit.media.path }}" alt="{{ produit.media.alt }}" width="470" height="310">
                    </div>


                    <div class="span4">
                        <h4>{{ produit.nom }}</h4>
                        <h5>{{ produit.categorie.nom }}</h5>
                        <p>{{ produit.description }}.</p>
                        <h4>{{ produit.prixHT }}€</h4>
                        <form action="{{ path('panier') }}">

                            <label for="qt">Quantité</label>
                            <select name="qte" id="qt" class="span1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>

                            <div>
                                <button class="btn btn-primary">Ajouter au panier</button>
                            </div>
                        </form>

                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}