{% extends '::layout/layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                {% include '::modulesUsed/navigation.html.twig' %}
                {{  render(controller('EcommerceBundle:Panier:menu')) }}
            </div>

            <div class="col-md-9">

                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        {{ flashMessage }}
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    </div>
                {% endfor %}

                {% if categorieNotFound is defined %}
                    <div class="alert alert-danger">Cette catégorie n'existe pas !</div>
                {% elseif not produits %}
                    {% if search is defined %}
                        <div class="alert alert-warning">Aucun produit ne correspond à votre recherche! </div>
                    {% else %}
                        <div class="alert alert-warning">Aucun produit dans le stock! </div>
                    {%  endif %}
                {% else %}
                    
                    <div class="row">

                    {% for produit in produits %}

                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <img src="{{ produit.media.assetPath | imagine_filter('produitThumb') }}" alt="{{ produit.media.name }}" style="max-height:100%;max-width: 100%" height="150" width="300">
                            </div>
                                <div class="caption">
                                <h4><strong>{{ produit.nom }}</strong></h4>
                                <p>{{ produit.prixHT|tva(produit.tva.multiplicate) }} €</p>
                                <a class="btn btn-primary" href="{{ path('presentation',{ 'id': produit.id }) }}">Plus d'infos</a>
                                {% if panier[produit.id] is not defined %}
                                     <a class="btn btn-s" href="{{ path('ajouterAuPanier',{ 'id': produit.id }) }}">Ajouter au panier</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                    <div class="row pull-right">
                        {{ knp_pagination_render(produits) }}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}