<div class="col-md-3">

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('adminProduits_index') }}">{{ 'admin.products'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('adminCategories_index') }}">{{ 'admin.categories'|trans }}</a>
            </li>
        </ul>
    </div>

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('adminUsers_index') }}">Clients</a>
            </li>
            <li>
                <a href="{{ path('adminCommandes_index') }}">Commandes</a>
            </li>
        </ul>
    </div>

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('adminPages_index') }}">Pages</a>
            </li>
        </ul>
    </div>
</div>
