{% extends 'layout/layoutAdmin.html.twig' %}

{% block body %}
    <h2>{{ 'list_categories'|trans }}</h2>
    <hr>
    <div class="row">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>{{ 'name'|trans }}</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.nom }}</td>
                    <td>
                        <a href="{{ path('adminCategories_show', { 'id': category.id }) }}"><i class="icon-eye-open"></i></a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{{ path('adminCategories_edit', { 'id': category.id }) }}"><i class="icon-edit"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a class="btn btn-primary" href="{{ path('adminCategories_new') }}"><i class="icon-star"></i>&nbsp;&nbsp;{{ 'newF'|trans }}&nbsp;{{ 'categorie'|trans }}</a>
{% endblock %}
