{% extends 'layout/layoutAdmin.html.twig' %}

{% block body %}
    <h2>Catégories</h2>
    <hr>
    <div class="row">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ category.nom }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <a class="btn btn-primary pull-left" href="{{ path('adminCategories_index') }}">Retour</a>
        </div>

        <div class="col-md-4">
            <a class="btn btn-success pull-right" href="{{ path('adminCategories_edit', { 'id': category.id }) }}">Editer</a>
        </div>

        <div class="col-md-4">
            {{ form_start(delete_form) }}
            <input class="btn btn-danger pull-right" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </div>

    </div>

{% endblock %}
