{% trans_default_domain 'FOSUserBundle' %}

<div class="row">

    <div class="col-md-3">
        {{  render(controller('EcommerceBundle:Panier:menu')) }}
    </div>

    <div class="col-md-9">
        <h2>{{ 'profile'|trans }}</h2>
        <hr>
            <p><strong>{{ 'profile.show.username'|trans }} :</strong> {{ user.username }}</p>
            <p><strong>{{ 'profile.show.email'|trans }}:</strong> {{ user.email }}</p>
    </div>
</div>