{% trans_default_domain 'FOSUserBundle' %}

<div class="row">

    <div class="col-md-3">
        {{  render(controller('EcommerceBundle:Panier:menu')) }}
    </div>

    <div class="col-md-9">
        <h2>{{ 'change_password'|trans }}</h2>
        <hr>

        <div class="col-md-6">
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            {{ form_errors(form) }}
            <div class="form-group">
                {{ form_label(form.current_password) }}
                {{ form_widget(form.current_password, { 'attr':{'class':'form-control'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, { 'attr':{'class':'form-control'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, { 'attr':{'class':'form-control'} }) }}
            </div>

            {{ form_rest(form) }}
            <input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}" />
            {{ form_end(form) }}
        </div>

    </div>
</div>

<hr>