<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>E-Shop!{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="keywords" content="{% block keywords %}shop,E-shop,E-commerce-buy-shop-online-shopping-fruits-vegetables-legumes {% endblock %}">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>

            .row.thumbnail
            {
                background-color: #880000 ;
            }
            .thumbnail {
                padding: 0 0 15px 0;
                border: none;
                border-radius: 0px;
                background-color: lightgrey ;
            }

            /* Black buttons with extra padding and without rounded borders */
            .btn {
                padding: 5px 10px;
                transition: .2s;
                color: #f1f1f1;
            }

            .btn-s
            {
                background-color: #880000;
            }

            .footer-inverse{
                background-color: #222222;
            }

            .footer-inverse p{
                color: whitesmoke;
            }

            .footer-inverse h4{
                color: #C82829;
            }

            html {
                position: relative;
                min-height: 100%;
            }
            body {
                /* Margin bottom by footer height */
                margin-bottom: 60px;
                padding-top:65px
            }
            .footer {
                position: absolute;
                bottom: 0;
                width: 100%;
            }

            body h2{
                color: #880000;
            }

            body h4{
                color: darkcyan;
            }

        </style>

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" style="color: #C82829;font-family: 'Roboto Slab';font-size: x-large" href="{{ path('produits') }}">E-Shop!</a>
                </div>

                <ul class="nav navbar-nav navbar-right" style="padding-top:8px">
                    <li style="margin-right:1em;padding-top:1px">
                        <div class="dropdown">
                            <button class="btn btn-s dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Paneau d'utilisateur
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    {% include 'UsersBundle:Default:modulesUsed/userPanel.html.twig' %}
                                {% else %}
                                    {% include 'UsersBundle:Default:modulesUsed/utilisateur.html.twig' %}
                                {% endif %}
                            </ul>
                        </div>

                    </li>
                    <li>
                        {{ render(controller('EcommerceBundle:Produits:renderForm')) }}
                    </li>
                </ul>
            </div>
        </nav>

        {% block body %}{% endblock %}
        <br>
        <hr/>
        <br>

        <footer id="footer" class="footer footer-inverse">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 offset1">
                        <h4>Informations</h4>
                        <ul class="nav nav-stacked">
                            {{  render(controller('PagesBundle:Pages:menu')) }}
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h4>Notre entrepôt</h4>
                        <p><i class="icon-map-marker"></i>&nbsp;{{ adresse }}</p>
                    </div>

                    <div class="col-md-2">
                        <h4>Nous contacter</h4>
                        <p><i class="icon-phone"></i>&nbsp;Tel: {{ telephone }}</p>
                        <p><i class="icon-print"></i>&nbsp;Fax: {{ fax }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <p>&copy; Copyright {{ 'now'|date('Y') }} - EL-Sam</p>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
