{% extends 'layout/layoutAdmin.html.twig' %}

{% block body %}
    <h2>{{ 'list_products'|trans }}</h2>
    <hr>
    <table class="table table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th>{{ 'name'|trans }}</th>
                <th>{{ 'description'|trans }}</th>
                <th>{{ 'price_ht'|trans }}</th>
                <th>{{ 'available'|trans }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prixHT }}</td>
                <td>{% if produit.disponible %}{{ 'yes'|trans }}{% else %}{{ 'no'|trans }}{% endif %}</td>
                <td>
                    <a href="{{ path('adminProduits_show', { 'id': produit.id }) }}"><i class="icon-eye-open"></i></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ path('adminProduits_edit', { 'id': produit.id }) }}"><i class="icon-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('adminProduits_new') }}"><i class="icon-star"></i>&nbsp;&nbsp;{{ 'newM'|trans }} {{ 'product'|trans }}</a>
{% endblock %}
