<html>
<body>
    {{ form_errors(form) }}
    <form action="{{ path('test') }}" method="post">
        {{ form_widget(form) }}
    </form>

</body>
</html>








{#<h3>Produits</h3>#}
{#<table>#}
    {#<thead>#}
    {#<tr>#}
        {#<th>#}
            {#Nom Produit#}
        {#</th>#}
        {#<th>#}
            {#Prix#}
        {#</th>#}
        {#<th>#}
            {#Catégorie#}
        {#</th>#}
    {#</tr>#}
    {#</thead>#}
    {#<tbody>#}

{#{% for produit in produits %}#}
    {#<tr>#}
        {#<td>{{ produit.nom }}</td>#}
        {#<td>{{ produit.prixHT }}</td>#}
        {#<td>{{ produit.categorie }}</td>#}
    {#</tr>#}
{#{% endfor %}#}

    {#</tbody>#}
{#</table>#}