<li>
    <a href="{{ path('fos_user_profile_show') }}">{{ 'profile'|trans }}</a>
</li>
<li>
    <a href="{{ path('fos_user_profile_edit') }}">{{ 'edit_myProfile'|trans }}</a>
</li>
<li>
    <a href="{{ path('fos_user_change_password') }}">{{ 'change_password'|trans }}</a>
</li>
<li>
    <a href="{{ path('facture') }}">{{ 'myBills'|trans }}</a>
</li>
<li>
    <a href="{{ path('fos_user_security_logout') }}">{{ 'logout'|trans }}</a>
</li>