<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Facture</title>
    <style>
        body{
            padding: 2em;
        }

        h1
        {
            font-size: 3em;
        }
        p{
            padding-left: 2em;
        }
        .underline
        {
            text-decoration: underline;
        }
        .center {
            text-align:center;
        }

        .color {
            color:#002a80;
        }

        .strong {
            font-weight:bold;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0px 0;
        }

        th {
            padding-right: 15px;
        }

        tfoot tr{
            background-color: gainsboro;
        }

        thead tr{
            background-color: coral;
        }

        table#entity {
            margin-top:30px;
            text-align:center;
        }

        table#entity th {
            height:30px;
            border-bottom:1px solid #002a80;
        }

        table#entity td {
            height:30px;
            border-bottom:1px solid #002a80;
        }

        .rightSide{
            border-right:1px solid #002a80;
        }

        .leftSide{
            border-left:1px solid #002a80;
        }
    </style>
</head>
<body>

    <main>
        <div>
            <h1 style="color: #880000">E-Shop!</h1>
            <div style="width:50%;padding-left:50%">
                <h2 class="center underline" style="color: coral;">Facture</h2>
                <strong style="color: coral">détails</strong>
                <p>Date :<span class="color">{{ facture.date|date('d-m-Y') }}</span></p>
                <p>Ref :<span class="color">{{ facture.reference }}</span></p>

                <strong style="color: coral">Coordonnées</strong>
                <p>Nom :<span class="color">{{ facture.commande.facturation.nom }} {{ facture.commande.facturation.prenom }}</span></p>
                <p>Adresse :<span class="color">{{ facture.commande.facturation.adresse}} , {{ facture.commande.facturation.cp }} {{ facture.commande.facturation.ville }} - {{ facture.commande.facturation.pays }}</span></p>
            </div>
        </div>


        <table id="entity">
            <thead >
            <tr style="background-color: coral">
                <th>DESIGNATION</th>
                <th>QUANTITE</th>
                <th>P.U - HT</th>
                <th>MONTANT HT</th>
                <th>MONTANT TTC</th>
            </tr>
            </thead>

            <tbody>
            {% for produit in facture.commande.produits %}
                <tr>
                    <td class="color leftSide">{{ produit.reference }}</td>
                    <td class="color">{{ produit.quantity }}</td>
                    <td class="color">{{ produit.prixHT }} €</td>
                    <td class="color">{{ produit.prixHT * produit.quantity }} €</td>
                    <td class="color rightSide">{{ produit.prixTTC }} €</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr style="background-color: gainsboro;">
                <td class="leftSide" colspan="2">TOTAL HT :</td>
                <td colspan="5" class="color rightSide">{{ facture.commande.totalHT }} €</td>
            </tr>
            <tr style="background-color: gainsboro;">
                <td colspan="2" class="leftSide">TVA :</td>
                <td colspan="5" class="color rightSide">{{ facture.commande.tva }} €</td>
            </tr>
            <tr style="background-color: gainsboro;">
                <td colspan="2" class="leftSide">TOTAL TTC :</td>
                <td colspan="5" class="color rightSide">{{ facture.commande.totalTTC }} €</td>
            </tr>
            </tfoot>
        </table>
    </main>

    <footer>
        <br>
        <br>
        <br>
        <span class="color strong">{{ adresse }}</span>
        <br>
        {{ telephone }}
    </footer>

</body>
</html>